@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Getting comfortable with ASP.NET MVC 5</p>
    <a class="btn btn-primary btn-lg" href="https://wou-cs46x-resources.netlify.com/cs460/hw/hw4">The Assignment &raquo;</a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>RGB Color</h2>
        <p>Turn numbers into colors with magic! </p>
        <p>...</p>
        <p>Just kidding. This form makes use of query strings, form data, and some simple calculations to respond to client requests  </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/Home/RGB">RGB Color &raquo;</a>

        </p>
    </div>


    <div class="col-md-6">
        <h2>Color Interpolator</h2>
        <p>Use parameter binding and POST data to create super cool color gradients</p>
        <p>After all, my motto always has been, "Why be useful when you can just be fun?"</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/ColorInterpolator/Create">Interpolator &raquo;</a>
        
        </p>
    </div>
</div>


