@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Track and Field</h1>
    <h2>A tool for coaches</h2>
    <a class="btn btn-danger btn-lg" href="https://wou-cs46x-resources.netlify.com/cs460/hw/hw8">The Assignment &raquo;</a>
</div>


