@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div class="center">
            <h1>HW 6</h1>
            <p class="lead">Week 6's lab has us implementing a search function for an existing database</p>
        </div>
    </div>

     <div class="col-md-12">
         <div class="center">
             <p class="testimonial">
                 "As a salesperson, sales team support employee, analyst or manager of World Wide Importers
                 I want to find a particular stock item so I can see critical information about it for the
                 sales team. Also, I'd like to see a picture so I can easily identify the stock item.
                 I'd like to be able to search by a term that is found in the item description."
             </p>
             <p><a href="https://wou-cs46x-resources.netlify.com/cs460/hw/hw6" class="btn btn-primary">Learn more &raquo;</a></p>
         </div>
     </div>
</div>

   
