

body {
    padding-top: 50px;
    padding-bottom: 20px;
}



 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}

/*Home page formatting*/
.testimonial {
    font-style:italic !important;
    margin-left: 100px;
    margin-right:100px;
}


 /*Styling for all pages*/
.WWI {
    background: linear-gradient(#0FF5DA, #ffffff);
}

html {
    min-height: 100%;
    position: relative;
    padding-bottom: 1em; /*"the em unit is the height of the font in nominal points or inches"*/
}

footer {
    position: absolute;
    bottom: 0;
}

.center {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
} 

 /*Styling stock search results*/
.linkResult {
    color: black;
    font-size: medium;
    font-weight: bold;
}



.searchbar {
    margin-left: 50px;
    width: 400px;

}
